<html>
  <head>
    <title>NodeJs</title>
  </head>
  <body>
    <form action="/auth" method="POST">
      <input type="text" id="usuario" name="usuario" />
      <input type="password" id="senha" name="senha" />
      <button type="submit">Logar</button>
    <form>
  </body>
</html>